* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

.wrapper {
    margin-bottom: 10px;
}
.radio,
.checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    visibility: visible; 
    background-image: url(../image/icon.png);
    cursor: pointer;
    vertical-align: text-bottom;
}

.radio.unselect{
    background-position: -22px -8px;
}

.radio.select {
    background-position: -57px -8px;
}

.checkbox.unselect {
    background-position: -22px -30px;
}

.checkbox.select {
    background-position: -57px -30px;
}

.pseu-radio + label,
.pseu-checkbox +label {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    cursor: pointer;
    border: 2px solid #e3e3e3;
}

.pseu-radio + label {
    border-radius: 50%;
}

.pseu-radio:checked + label,
.pseu-checkbox:checked + label{
    border-color: #d43f39;
}

.pseu-radio:checked + label::after {
    display: block;
    content: '';
    background-color: #d43f39;
    border-radius: 50%;
    position: absolute;
    width: 6px;
    height: 6px;
    left: 3px;
    top: 3px;
}

.pseu-checkbox:checked + label::after {
    display: block;
    content: '';
    height: 4px;
    width: 6px;
    border: 0 solid #d43f39;
    border-width: 0 0 2px 2px;
    -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
    position: absolute;
    left: 2px;
    top: 2px;
}


