* {
    margin: 0;
    padding: 0;
}

body {
    padding: 100px 100px;
}

#userDefinedArea {
    background-color: #a6e22e;
    height: 400px;
    line-height: 400px;
    font-size: 50px;
    text-align: center;
}

#contextMenu {
    position: absolute;
    border: 1px solid #d8d8d8;
    width: 300px;
    padding: 5px 0 5px 5px;
    background-color: #e2e2e2;
    display: none;
}
#contextMenu ul {
    list-style-type: none;
}
#contextMenu li {
    cursor: pointer;
}
#contextMenu li:hover {
    background-color: #f1f1f1;
}